<div class="container-fluid">
    <div class="container col-md-12 col-xs-12 col-sm-12">
        <h1 class="text-center mt-2" style="font-size: 30px;"><span class="bg-light rounded p-3">Companies List</span></h1>
        <span class="mb-3 " style="position: relative;bottom: 10px;">
            <b>Total companies: </b>  {{companyDetails.length}} of 5</span>
        <div class="row ">
         <div class=" col-md-6 mb-3" *ngFor="let company of companyDetails">
             <div class="card cards" style="width: 100%; height: 100%;">
                 <div class="card-body">
                     <div class="row" >
                         <span class="logo-container col-md-4 col-xs-4 col-sm-4">
                         <img src="{{company.logo}}" style="width: 100%; height: 100%;" alt="..." class="img-thumbnail">
                         </span>
                     </div>

                     <div class="row">
                         <h2 class="card-title col-md-8 col-sm-6 col-xs-4">{{company.company_name}}</h2>
                         <span class="col-md-4">
                           <a *ngIf="company.facebookUrl" target="_blank" href="{{company.facebookUrl}}" class="fa fa-facebook"></a>
                           <a *ngIf="company.twitterUrl" target="_blank" href="{{company.twitterUrl}}" class="fa fa-twitter"></a>
                           <a *ngIf="company.linkedinUrl" target="_blank" href="{{company.linkedinUrl}}" class="fa fa-linkedin"></a>
                           <a *ngIf="company.website_" target="_blank" href="{{company.website_}}" class="fa fa-globe"></a>
                         </span>
                     </div>
                  
                   <h4 class="card-subtitle text-muted mb-3">Head Quater: {{company.headquarters}}</h4>
                   <div class="card-text col-md-6 col-sm-6 col-xs-5">
                       <label><strong>Founded: </strong>{{company.founded}} </label><br>
                       <label><strong>Industry: </strong>{{company.industry}} </label>
                       <label><strong>Title: </strong>{{company.title_}} </label>
                       <label><strong>Type: </strong>{{company.type}} </label><br>
                       <label><strong>Ratings: </strong>{{company.rating}}/5 </label><br>
                       <label><strong>Company size: </strong>{{company.companySize}} </label>
                       <label><strong>Description: </strong>{{company.Short_description}} </label>
                   </div>
                       
                  
                   <a  class="card-link text-primary" style="cursor: pointer;"  (click)="showCompanyDetails(company)">Learn more...</a>
                 </div>
               </div>
         </div>
         </div>
    </div>
</div> 

<p-dialog header="Company Details" [modal]="true" [(visible)]="displayCompanyDetails" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="container col-md-12 col-xs-12 col-sm-12" *ngIf="showCompanyDetailsPopup">
        <h1 class="text-center">{{companyDetailsPopUp.company_name}}</h1>
        <span class="text-center "><img src="{{companyDetailsPopUp.logo}}" class="rounded-circle border mx-auto d-block" alt="Cinque Terre"></span>
        <div class="row border mt-3">
            <div class="col-md-12">
            <h2><b>Description: </b></h2>
            <p>{{companyDetailsPopUp.Long_description}}</p>
            </div>
            <div class="col-md-12 mt-2">
              <h2><b>Analysis</b></h2>
              <p>{{companyDetailsPopUp.Analysis}}</p>
              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Company Address</b></h2>
              <p>{{companyDetailsPopUp.companyAddress}}</p>
              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Email Address</b></h2>
              <p>{{companyDetailsPopUp.email}}</p>
              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Data points</b></h2>
              <p>{{companyDetailsPopUp.datapoints}}</p>
              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Price</b></h2>
              <p>{{companyDetailsPopUp.price}}</p>
              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Payment Mode</b></h2>
              <p>{{companyDetailsPopUp.paid_not}}</p>

              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Specialties</b></h2>
                  <ul>
                  <li *ngFor="let specialties of companyDetailsPopUp.specialties">
                    {{specialties}}
                  </li>
                  </ul>
              </div>
              <div class="col-md-12 mt-2">
                  <h2><b>Screenshot</b></h2>
                  <img src="{{companyDetailsPopUp.screenshot}}" class="img-thumbnail" width="500" height="500" alt="...">
              </div>
              <div class="col-md-12 mt-2">
                  <h2>Location</h2>
                  <div>
                    <!-- <div leaflet [leafletOptions]="mapOptions" class="map" #map id="map" style="width: 100%; height: 532.2px;"></div> -->
                    <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude">
                        <agm-marker  [latitude]="latitude" [longitude]="longitude"></agm-marker>
                      </agm-map>
                </div>
              </div>
              <div class="col-md-12 mt-2">
                  <span *ngIf="companyDetailsPopUp.fundingTotal"><h2>Funding Total: </h2>{{companyDetailsPopUp.fundingTotal}}</span>
                  <span *ngIf="companyDetailsPopUp.fundingRecent"><h2>Funding Recent: </h2>{{companyDetailsPopUp.fundingRecent}}</span>
                  <span *ngIf="companyDetailsPopUp.fundingTotalUrl"><h2>Funding Total Url: </h2>{{companyDetailsPopUp.fundingTotalUrl}}</span>
                </div>
           
  
        </div>
      </div>
    <!-- <br><br>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayCompanyDetails=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayCompanyDetails=false" label="No" class="ui-button-secondary"></button>
    </p-footer> -->
</p-dialog>